/* CSS HEADER */
.co-icon {
  font-size: 30px;
  color: #003399;
}

.logo-brand {
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.counter-co span {
  font-size: 16px;
  background-color: #ffcc00;
  border-radius: 0%;
}

.header {
  background-color: white;
}

/* HEADER PAGE */
.header-default {
  background-color: #b90000;
  border-color: #000000;
}

.header-page h1 {
  font-size: 80px;
}
.header-page h4 {
  color: #d6d6d6;
}

.header-page {
  padding-top: 80px;
  padding-bottom: 50px;
}

/* HERO */

.hero {
  position: relative;
  margin-top: 230px;
}

.hero .img-hero img {
  height: 500px;
}

.hero .txt-hero p {
  margin-right: 100px;
}

.hero .txt-hero h1 {
  font-size: 70px;
}

.hero .btn-hero {
  margin-top: 20px;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0%;
}

.hero .prc-hero h2 {
  font-size: 50px;
}

/* FEATURED */

.featured .img-feature img {
  width: 140px;
}

.featured .title-feature h2 {
  font-size: 25px;
}

/* CSS PRODUCT SECTION */

.prod-section {
  margin-top: 80px;
}

.card-title {
  font-size: 35px;
}

.card.product:hover {
  box-shadow: 5px 5px #e2e2e2;
  transform: scale(1.02);
}

.footer-card p {
  font-size: 20px;
  font-family: "Poppins";
  padding-top: 17px;
}

.title-section {
  font-size: 60px;
}

.image-prod {
  display: block;
  height: auto;
}

.footer-card a {
  background-color: #ffcc00;
  color: #003399;
}

.footer-card a:hover {
  background-color: #8b751c;
  color: #ffffff;
}

/* mau bikin hover img (* ali) */

.image-prod img {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.image-prod img {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.image-prod .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.image-prod img:hover .content-overlay {
  opacity: 1;
}

.icon-view {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* batas */

.short-desc {
  width: 200px;
}

.image-prod {
  padding: 25px;
}

/* CSS DETAIL PAGE (jangan diganti ya)*/

/*****************globals*************/
/* body {
  font-family: "open sans";
  overflow-x: hidden;
} */

img {
  max-width: 100%;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
}
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden;
}
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.card {
  margin-top: 20px;
  background: #eee;
  /* padding: 3em; */
  line-height: 1.5em;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.checked,
.price span {
  color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px;
}
.size:first-of-type {
  margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}
.color:first-of-type {
  margin-left: 20px;
}

.add-to-cart,
.like {
  background-color: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.like:hover,
.add-to-cart:hover {
  background: #003399;
  color: #fff;
}

.not-available {
  text-align: center;
  line-height: 2em;
}

.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff;
}

.orange {
  background: #ff9f1a;
}

.green {
  background: #85ad00;
}

.blue {
  background: #0076ad;
}

.tooltip-inner {
  padding: 1.3em;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */

/* CHECKOUT */

.img-co-prod img {
  width: 80px;
}

.modal-header h5 {
  font-size: 30px;
  text-align: center;
}

.harga-co-prod h2 {
  font-size: 25px;
  margin-top: 10px;
}

.nameprod-co-prod h2 {
  font-size: 25px;
  margin-top: 10px;
}

.counter-co-prod p {
  font-size: 20px;
}

.payment button {
  background-color: #ffffff;
  color: #003399;
  font-weight: 600;
}

.modal-footer {
  background-color: #003399;
}

.modal-footer h2 {
  color: #ffffff;
}

/* PAYMENT SUCCESS */

.payment-success i {
  font-size: 200px;
  color: #45c709;
  margin-top: 60px;
}

.go-invoice-btn button {
  background-color: #003399;
  color: #fff;
}

.go-invoice-btn button:hover {
  background-color: #003399;
  color: rgb(180, 180, 180);
}

.go-shop-btn button {
  background-color: #ffcc00;
  color: #fff;
}

.go-shop-btn button:hover {
  background-color: #ffcc00;
  color: rgb(180, 180, 180);
}

/* Test Footer */

footer {
  margin-top: 200px;
}

.logo-list {
  list-style: none;
  display: inline-block;
  /*  margin: 10px;*/
  align-content: center;
}

#logo-sos {
  width: auto;
  height: auto;
  /*margin: auto;*/
  align-content: center;
}

#logo-sos img {
  margin-bottom: 40px;
  width: 200px;
}

#logos-list {
  padding: 0;
  margin-bottom: 0;
  align-content: center;
}

.logo-sosmed {
  transition: transform 0.2s; /* Animation */
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50px;
  color: #003399;
  transform: translate(2px, 0) skew(0deg);
  transform: translate(-2px, 0) skew(0deg);
}

div:before,
div:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

.logo-sosmed:hover {
  transform: scale(1.5);
}

.fa-brands {
  color: black;
}

/* INVOICE */

.img-inv-prod img {
  width: 150px;
}

.header-inv {
  padding: 25px 25px;
}

.header-inv h2 {
  font-size: 20px;
}

.discount-number h2 {
  color: #003399;
}

.tax-number h2 {
  color: rgb(214, 42, 42);
}

.total-number {
  background-color: #003399;
  color: #ffffff;
  margin-top: 300px;
}

/*====*/
